# Preparacion de datos

## ExtracciÃ³n del Archivo Tratado

Carga el archivo CSV que contiene los datos tratados anteriormente.
ðŸ“‚ AtenciÃ³n: Utiliza el mismo archivo que limpiaste y organizaste en la Parte 1 del desafÃ­o Telecom X. Debe contener solo las columnas relevantes, ya con los datos corregidos y estandarizados.

In [23]:
import pandas as pd

# Cargar el archivo JSON
df = pd.read_json("TelecomX2_Data.json")

In [24]:
df.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total,estimated_daily_charge,Churn_bin
0,0002-ORFBO,No,Female,0,1,1,9,1,0,DSL,...,1,1,0,One year,1,Mailed check,65.6,593.30,2.19,0
1,0003-MKNFE,No,Male,0,0,0,9,1,1,DSL,...,0,0,1,Month-to-month,0,Mailed check,59.9,542.40,2.00,0
2,0004-TLHLJ,Yes,Male,0,0,0,4,1,0,Fiber optic,...,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.46,1
3,0011-IGKFF,Yes,Male,1,1,0,13,1,0,Fiber optic,...,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85,3.27,1
4,0013-EXCHZ,Yes,Female,1,1,0,3,1,0,Fiber optic,...,1,1,0,Month-to-month,1,Mailed check,83.9,267.40,2.80,1

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer_gender            7043 non-null   object
 3   customer_SeniorCitizen     7043 non-null   int64
 4   customer_Partner           7043 non-null   int64
 5   customer_Dependents        7043 non-null   int64
 6   customer_tenure            7043 non-null   int64
 7   phone_PhoneService         7043 non-null   int64
 8   phone_MultipleLines        7043 non-null   int64
 9   internet_InternetService   7043 non-null   object
 10  internet_OnlineSecurity    7043 non-null   int64
 11  internet_OnlineBackup      7043 non-null   int64
 12  internet_DeviceProtection  7043 non-null   int64
 13  internet_TechSupport       7043 non-null   int64
 14  internet_StreamingTV       7043 non-null   int64
 15  internet_StreamingMovies   7043 non-null   int64
 16  account_Contract           7043 non-null   object
 17  account_PaperlessBilling   7043 non-null   int64
 18  account_PaymentMethod      7043 non-null   object
 19  account_Charges_Monthly    7043 non-null   float64
 20  account_Charges_Total      7043 non-null   float64
 21  estimated_daily_charge     7043 non-null   float64
 22  Churn_bin                  7043 non-null   int64
dtypes: float64(3), int64(14), object(6)
memory usage: 1.2+ MB

## Elimina columnas que no aportan valor al anÃ¡lisis o a los modelos predictivos, como identificadores Ãºnicos (por ejemplo, el ID del cliente). Estas columnas no ayudan en la predicciÃ³n de la cancelaciÃ³n y pueden incluso perjudicar el desempeÃ±o de los modelos.

In [26]:
df.drop(columns=["customerID"], inplace=True)

In [27]:
df.head()

,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,internet_OnlineSecurity,...,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total,estimated_daily_charge,Churn_bin
0,No,Female,0,1,1,9,1,0,DSL,0,...,1,1,0,One year,1,Mailed check,65.6,593.30,2.19,0
1,No,Male,0,0,0,9,1,1,DSL,0,...,0,0,1,Month-to-month,0,Mailed check,59.9,542.40,2.00,0
2,Yes,Male,0,0,0,4,1,0,Fiber optic,0,...,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.46,1
3,Yes,Male,1,1,0,13,1,0,Fiber optic,0,...,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85,3.27,1
4,Yes,Female,1,1,0,3,1,0,Fiber optic,0,...,1,1,0,Month-to-month,1,Mailed check,83.9,267.40,2.80,1

## Transforma las variables categÃ³ricas a formato numÃ©rico para hacerlas compatibles con los algoritmos de machine learning.

Utiliza un mÃ©todo de codificaciÃ³n adecuado, como one-hot encoding.

ðŸ”Ž Sugerencia:
Puedes consultar este artÃ­culo para entender mejor cuÃ¡ndo usar get_dummies o OneHotEncoder

In [28]:
# Lista de columnas categÃ³ricas a transformar
columnas_categoricas = [
    "customer_gender",
    "internet_InternetService",
    "account_Contract",
    "account_PaymentMethod"
]

# One-hot encoding
df_encoded = pd.get_dummies(df, columns=columnas_categoricas, drop_first=True)

# Mostrar nuevas columnas
print(df_encoded.columns)

Index(['Churn', 'customer_SeniorCitizen', 'customer_Partner',
       'customer_Dependents', 'customer_tenure', 'phone_PhoneService',
       'phone_MultipleLines', 'internet_OnlineSecurity',
       'internet_OnlineBackup', 'internet_DeviceProtection',
       'internet_TechSupport', 'internet_StreamingTV',
       'internet_StreamingMovies', 'account_PaperlessBilling',
       'account_Charges_Monthly', 'account_Charges_Total',
       'estimated_daily_charge', 'Churn_bin', 'customer_gender_Male',
       'internet_InternetService_Fiber optic', 'internet_InternetService_No',
       'account_Contract_One year', 'account_Contract_Two year',
       'account_PaymentMethod_Credit card (automatic)',
       'account_PaymentMethod_Electronic check',
       'account_PaymentMethod_Mailed check'],
      dtype='object')

In [49]:
# Mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [52]:
df_encoded = df_encoded.drop("Churn", axis=1)

In [53]:
df_encoded = df_encoded.astype({col: int for col in df_encoded.select_dtypes('bool').columns})

In [54]:
df_encoded.head()

,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_OnlineSecurity,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_PaperlessBilling,account_Charges_Monthly,account_Charges_Total,estimated_daily_charge,Churn_bin,customer_gender_Male,internet_InternetService_Fiber optic,internet_InternetService_No,account_Contract_One year,account_Contract_Two year,account_PaymentMethod_Credit card (automatic),account_PaymentMethod_Electronic check,account_PaymentMethod_Mailed check
0,0,1,1,9,1,0,0,1,0,1,1,0,1,65.6,593.30,2.19,0,0,0,0,1,0,0,0,1
1,0,0,0,9,1,1,0,0,0,0,0,1,0,59.9,542.40,2.00,0,1,0,0,0,0,0,0,1
2,0,0,0,4,1,0,0,0,1,0,0,0,1,73.9,280.85,2.46,1,1,1,0,0,0,0,1,0
3,1,1,0,13,1,0,0,1,1,0,1,1,1,98.0,1237.85,3.27,1,1,1,0,0,0,0,1,0
4,1,1,0,3,1,0,0,0,0,1,1,0,1,83.9,267.40,2.80,1,0,1,0,0,0,0,0,1

In [55]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   customer_SeniorCitizen                         7043 non-null   int64
 1   customer_Partner                               7043 non-null   int64
 2   customer_Dependents                            7043 non-null   int64
 3   customer_tenure                                7043 non-null   int64
 4   phone_PhoneService                             7043 non-null   int64
 5   phone_MultipleLines                            7043 non-null   int64
 6   internet_OnlineSecurity                        7043 non-null   int64
 7   internet_OnlineBackup                          7043 non-null   int64
 8   internet_DeviceProtection                      7043 non-null   int64
 9   internet_TechSupport                           7043 non-null   int64
 10  internet_StreamingTV                           7043 non-null   int64
 11  internet_StreamingMovies                       7043 non-null   int64
 12  account_PaperlessBilling                       7043 non-null   int64
 13  account_Charges_Monthly                        7043 non-null   float64
 14  account_Charges_Total                          7043 non-null   float64
 15  estimated_daily_charge                         7043 non-null   float64
 16  Churn_bin                                      7043 non-null   int64
 17  customer_gender_Male                           7043 non-null   int64
 18  internet_InternetService_Fiber optic           7043 non-null   int64
 19  internet_InternetService_No                    7043 non-null   int64
 20  account_Contract_One year                      7043 non-null   int64
 21  account_Contract_Two year                      7043 non-null   int64
 22  account_PaymentMethod_Credit card (automatic)  7043 non-null   int64
 23  account_PaymentMethod_Electronic check         7043 non-null   int64
 24  account_PaymentMethod_Mailed check             7043 non-null   int64
dtypes: float64(3), int64(22)
memory usage: 1.3 MB

## VerificaciÃ³n de la ProporciÃ³n de CancelaciÃ³n (Churn)

Calcula la proporciÃ³n de clientes que cancelaron en relaciÃ³n con los que permanecieron activos. EvalÃºa si existe un desbalance entre las clases, ya que esto puede impactar en los modelos predictivos y en el anÃ¡lisis de los resultados.

ðŸ”Ž Sugerencia:
Puedes usar value_counts() de pandas para obtener esta proporciÃ³n:
DocumentaciÃ³n oficial de value_counts()

In [ ]:
df.head()

,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,internet_OnlineSecurity,...,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total,estimated_daily_charge,Churn_bin
0,No,Female,0,1,1,9,1,0,DSL,0,...,1,1,0,One year,1,Mailed check,65.6,593.30,2.19,0
1,No,Male,0,0,0,9,1,1,DSL,0,...,0,0,1,Month-to-month,0,Mailed check,59.9,542.40,2.00,0
2,Yes,Male,0,0,0,4,1,0,Fiber optic,0,...,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.46,1
3,Yes,Male,1,1,0,13,1,0,Fiber optic,0,...,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85,3.27,1
4,Yes,Female,1,1,0,3,1,0,Fiber optic,0,...,1,1,0,Month-to-month,1,Mailed check,83.9,267.40,2.80,1

In [30]:
# Conteo absoluto
conteo_churn = df_encoded["Churn_bin"].value_counts()
print("Conteo de clases:\n", conteo_churn)

Conteo de clases:
 Churn_bin
0    5174
1    1869
Name: count, dtype: int64

In [31]:
# Porcentaje por clase
porcentaje_churn = df_encoded["Churn_bin"].value_counts(normalize=True) * 100
print("\nPorcentaje de clases:\n", porcentaje_churn)

Porcentaje de clases:
 Churn_bin
0    73.463013
1    26.536987
Name: proportion, dtype: float64

In [32]:
df_encoded["Churn_bin"].unique()

array([0, 1])

In [33]:
df["Churn_bin"].unique()

array([0, 1])

## Balanceo de Clases (opcional)

Si deseas profundizar en el anÃ¡lisis, aplica tÃ©cnicas de balanceo como undersampling o oversampling. En situaciones de fuerte desbalanceo, herramientas como SMOTE pueden ser Ãºtiles para generar ejemplos sintÃ©ticos de la clase minoritaria.

ðŸ”Ž Sugerencia:
Puedes leer mÃ¡s sobre cÃ³mo manejar el desbalanceo de clases en este artÃ­culo:
ArtÃ­culo en Alura sobre desbalanceo de datos

1. Undersampling
    - Elimina ejemplos de la clase mayoritaria (0) para igualar el nÃºmero de cancelaciones.

    - RÃ¡pido pero puede hacerte perder informaciÃ³n.

2. Oversampling (SMOTE) âœ… RECOMENDADO
SMOTE (Synthetic Minority Oversampling Technique) crea datos sintÃ©ticos de la clase minoritaria.

Primero instala imblearn si no lo tienes:

!pip install imbalanced-learn

In [56]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from collections import Counter

# Separar features y target
X = df_encoded.drop("Churn_bin", axis=1)
y = df_encoded["Churn_bin"]

# Separar en entrenamiento y prueba (estratificado)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

# Aplicar SMOTE
smote = SMOTE(random_state=42)
X_train_bal, y_train_bal = smote.fit_resample(X_train, y_train)

# Verificar la nueva distribuciÃ³n
print("DistribuciÃ³n original:", Counter(y_train))
print("DistribuciÃ³n balanceada:", Counter(y_train_bal))

DistribuciÃ³n original: Counter({0: 3622, 1: 1308})
DistribuciÃ³n balanceada: Counter({0: 3622, 1: 3622})